﻿@model BuisnessObjects.UnionStreet.Details

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "UnionStreet", FormMethod.Post))
{
    
<table>
    <tr>
        <td class="width:50px;">
            @Html.LabelFor(Item => Item.Company.CompanyName)
                    @Html.TextBoxFor(Item => Item.Company.CompanyName)
                </td>
                <td class="width:50px;">
                      @Html.LabelFor(Item => Item.Site.SiteName)
                    @Html.TextBoxFor(Item => Item.Site.SiteName)
                </td>
        </tr><tr>

                <td class="width:50px;">
                    @Html.LabelFor(Item => Item.MainSite,"True")
                    @Html.RadioButtonFor(Item => Item.MainSite,"True")
                    @Html.LabelFor(Item => Item.MainSite,"False")
                    @Html.RadioButtonFor(Item => Item.MainSite,"False")
                </td>
                <td class="width:50px;">
                      @Html.LabelFor(Item => Item.Notes)
                    @Html.TextBoxFor(Item => Item.Notes)
                </td>
            </tr><tr>
                 <td class="width:50px;">
                       @Html.LabelFor(Item => Item.PhoneNumber)
                    @Html.TextBoxFor(Item => Item.PhoneNumber)
                </td>
                <td class="width:50px;">
                      @Html.LabelFor(Item => Item.StartDate)
                    @Html.TextBoxFor(Item => Item.StartDate, new { @class=""})
                </td>
                </tr>
    <tr>
                 <td class="width:50px;">
                       @Html.LabelFor(Item => Item.EndDate)
                    @Html.TextBoxFor(Item => Item.EndDate)
                </td>
    </tr>
    <tr>
        <td>
           <input type="submit" name="Create" value="Save"/>
        </td>

    </tr>
</table>
}