﻿@model BuisnessObjects.UnionStreet.Details
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "UnionStreet", FormMethod.Post))
{
<table>
    <tr>
        <td>
            @Html.LabelFor(m=>m.Company.CompanyName)
            @Html.TextBoxFor(m=>m.Company.CompanyName)
            @Html.HiddenFor(m=>m.Company.CompanyName)
        </td>
         <td>
            @Html.LabelFor(m=>m.Site.SiteName)
            @Html.TextBoxFor(m=>m.Site.SiteName)
            @Html.HiddenFor(m=>m.Site.SiteName)
        </td>
         <td>
            @Html.LabelFor(m=>m.MainSite, "True")
            @Html.RadioButtonFor(m=>m.MainSite,"True")
             @Html.LabelFor(m=>m.MainSite, "False")
              @Html.RadioButtonFor(m=>m.MainSite,"False")
            @Html.HiddenFor(m=>m.MainSite)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.Notes)
            @Html.TextBoxFor(m=>m.Notes)
            @Html.HiddenFor(m=>m.Notes)
        </td>
         <td>
            @Html.LabelFor(m=>m.PhoneNumber)
            @Html.TextBoxFor(m=>m.PhoneNumber)
            @Html.HiddenFor(m=>m.PhoneNumber)
        </td>
         <td>
            @Html.LabelFor(m=>m.StartDate)
            @Html.TextBoxFor(m=>m.StartDate)
            @Html.HiddenFor(m=>m.StartDate)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m=>m.EndDate)
            @Html.TextBoxFor(m=>m.EndDate)
            @Html.HiddenFor(m=>m.EndDate)
        </td>

    </tr>
    <tr>
        <td>
            <input type="submit", name="Save" value="Save"/>
            @Html.HiddenFor(m=>m.DetailsId)
            @Html.HiddenFor(m=>m.Company.CompanyId)
            @Html.HiddenFor(m=>m.Site.Id)
        </td>

    </tr>

</table>
}