﻿@model List<BuisnessObjects.UnionStreet.Details>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
 @Html.ActionLink("Create New", "Create")
</div>

<table>
    <thead>
         <tr>
                <td>
                    @Html.ActionLink("Company", "Index", new { currentSort=Model[0].CurrentSort, SortType="Company"})
                </td>
                <td>
                    @Html.ActionLink("Site", "Index", new { currentSort=Model[0].CurrentSort, SortType="Site"})
                </td>
                <td>
                    @Html.ActionLink("MainSite", "Index", new { currentSort=Model[0].CurrentSort, SortType="MainSite"})
                </td>
                <td>
                    @Html.ActionLink("Notes", "Index", new { currentSort=Model[0].CurrentSort, SortType="Notes"})
                </td>
                 <td>
                    @Html.ActionLink("PhoneNumber", "Index", new { currentSort=Model[0].CurrentSort, SortType="PhoneNumber"})
                </td>
                <td>
                    @Html.ActionLink("StartDate", "Index", new { currentSort=Model[0].CurrentSort, SortType="StartDate"})
                </td>
                 <td>
                    @Html.ActionLink("EndDate", "Index", new { currentSort=Model[0].CurrentSort, SortType="EndDate"})
                </td>
                <td>
                </td>
            </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Item => detail.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(Item => detail.Site.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(Item => detail.MainSite)
                </td>
                <td>
                    @Html.DisplayFor(Item => detail.Notes)
                </td>
                 <td>
                    @Html.DisplayFor(Item => detail.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(Item => detail.StartDate)
                </td>
                 <td>
                    @Html.DisplayFor(Item => detail.EndDate)
                </td>
                 <td>
                    @Html.ActionLink("Edit", "Edit", new { detailId=detail.DetailsId})
                     @Html.ActionLink("Delete", "Delete", new { detailId=detail.DetailsId})
                </td>
            </tr>
        }
    </tbody>
</table>
